{% extends 'store/base.html' %}

{% block content %}
<style>
    body {
        background-color: #1a1a1a;
        /* Dark background color */
        color: #ffffff;
        /* White text color */
    }

    .glow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        /* Shadow glow for headings */
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="font-weight text-center sizef"
                style="color: #0c0000; text-shadow: 0 0 20px rgba(245, 221, 3, 0.6);">
                About Us</h1>

            <hr class="my-4">
            <p class="lead">
                Welcome to ANIMERCH, your ultimate destination for high-quality anime merchandise! We are passionate
                anime enthusiasts who have come together to bring you a curated collection of the finest products
                inspired by the captivating world of anime.
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-6">
            <h2 class="font-weight-bold glow">Our Passion for Anime</h2>
            <p>
                ANIMERCH was founded by a team of devoted fans driven by a shared love for anime. We believe that anime
                is more than just entertainment; it's a cultural phenomenon that unites people, transcends borders, and
                sparks creativity.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="font-weight-bold glow">Our Collection</h2>
            <p>
                Immerse yourself in our diverse collection of anime merchandise. From stylish apparel to intricate
                collectibles and home decor, our selection caters to fans of all genres and tastes.
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-6">
            <h2 class="font-weight-bold glow">Quality Assurance</h2>
            <p>
                At ANIMERCH, quality is paramount. We collaborate with trusted manufacturers to ensure that each product
                meets our high standards of authenticity and craftsmanship. Your satisfaction is our priority.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="font-weight-bold glow">Join the Community</h2>
            <p>
                ANIMERCH is more than a store—it's a community of like-minded individuals who share a passion for anime.
                Connect with us on social media to stay updated on the latest releases, promotions, and events.
            </p>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-lg-8 text-center">
            <p class="lead">
                Thank you for choosing ANIMERCH. Let's explore the enchanting world of anime together!
            </p>
            <p>
                Want to get in touch? Feel free to reach out to us on <a href="https://www.linkedin.com/in/adnanazmee/"
                    target="_blank" class="font-weight-bold">LinkedIn</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}