{% extends 'base.html' %}

{% block title %}About Us{% endblock %}


{% block body %}

<style>
    h3,
    p {
        padding-top: 2%;
    }

h1{
    font-style: italic rgb(248,248,248);
}
</style>



<div class="parallax" style='background-image :url("static/images/2.jpg");'>


    <!---header-wrapper--->
    <div class="container">
        <div class="clear"></div>
        <div class="page-content">
            <div class="page">
                <div class="panel">
                    <div class="title">

                        <h1>SERVICES WE OFFER</h1>
                    </div>
                    <div class="content">




                        <div class="card mb-3">
                            <img class="card-img-top" src="static/images/s4.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Shran Motors</h5>
                              <p class="card-text">Never Stop<br><br>We Let you to never stop in your day to life because of the vehicle. So get Your Vehicle Serviced at our Garage and move without Stoping. </p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                         
                        

                        <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="static/images/s1.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Bike Repair</h5>
                                <p class="card-text">We Give You Best Bike Repair Service at Reasonable Rates so whenerver you think that your bike needs a service We First Strike your mind.</p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="static/images/s2" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">4 Wheelers</h5>
                                <p class="card-text">Every Kind Of Car or 4 wheeler is Repaired At our Garage , So you no need to go anywhere else for the service for your vehicle whether it is a Bus , Car or any other.</p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="static/images/s3.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Washing Centre</h5>
                                <p class="card-text">We have our own Washing Center so you can get your vehicle Washed easily at a lower rate than others.<p>Normal Wash , Foam Wash</p></p>
                              </div>
                            </div>
                          </div>


                          

                          


                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!---page-content--->

{% endblock %}